[submodule "CobraBench"]
	path = CobraBench
	url = https://github.com/DBCobra/CobraBench.git
[submodule "FalquonVerifier"]
	path = FalquonVerifier
	url = https://github.com/sky12hi12/FalquonVerifier.git
